{% extends "base.html" %}

{% block content %}

<div id="inner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="head_block __margin-top_xxl">
                    <img class="responsive-img " src="{{ place.image.url }}">
                </div>
                <div class="article">
                    <h1>{{ place.title }}</h1>
                    <span id="hidden-id" class="__hidden">{{ place.id }}</span>
                    <p><span>Адрес и время работы:</span><br>
                        {% for location in place.location_set.all %}
                            <strong>{{ location.address }}</strong>
                            <strong>{{ location.worktime }}</strong>
                        {% endfor %}                
                    </p>
                    {% comment "Social links dictiobary" %}
                        <p><span>Cайт:</span><strong>https://vk.com/lesbar</strong></p>
                    {% endcomment %}
                    <p class="">
                        <span>Представитель:</span>
                        <strong id="getter-name">{{ place.owner.username }}</strong>
                    </p>
                    <p><span>Тэги:&nbsp;&nbsp;</span>
                        <strong>#лес villa&nbsp;</strong>
                    </p>
                    <article>{{ place.description }}</article>
                    <div class="__margin-top_xl">
                        <a class="left waves-effect waves-light btn-large " onclick="Materialize.toast('Если Вы действительно являетесь владелецем этого места,<br> зарегистрируйтесь как Представитель и напишите админу,<br> либо напишите нам на почту  ', 10000);">
                            &nbsp;&nbsp;Я хозяин этого места!
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        {% if user.is_authenticated %}
            <rate-component is-login="true" type="place"></rate-component>
            <hr>
            <comment-component is-login="true" type="place"></comment-component>
        {% else %}
            <rate-component is-login="false" type="place"></rate-component>
            <hr>
            <comment-component is-login="false" type="place"></comment-component>
        {% endif %}

    </div>
</div>

{% endblock content %}


{% block js %}

<script src="/static/dist/inner.entry.js"></script>

{% endblock js %}
