{% extends "base.html" %}


{% block content %}

<div id="places_page" class="container">
    <h4 class="center __margin-top_xxl __margin-bottom_xl">Добавить место</h4>
    <form method="post" action="" enctype="multipart/form-data" class="row" >
        {% csrf_token %}
        <div class="col s12">
            <div class="card white __margin-top_xl __margin-bottom_xl __padding-bottom_xs">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="card-content black-text">
                                <div class="col s12 __margin-bottom_xl">
                                    <div class="input-group">
                                        <div class="input-field col s7">
                                            {{ form.title.errors }}
                                            {{ form.title }}
                                            {{ form.title.label_tag }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s5">
                                            {{ form.musicians.errors }}
                                            {% if form.musicians|length > 0 %}
                                                <select id="id_musicians" name="musicians" multiple class="initialized">
                                                    <option value="" disabled>Выберите музыкантов</option>
                                                    {% for musician in form.musicians %}
                                                        {{ musician }}
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <select id="id_musicians" name="musicians" class="initialized">
                                                    <option value="">Никого нет</option>
                                                </select>
                                            {% endif %}
                                            {{ form.musicians.label_tag }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s4">
                                            {{ form.coordinates.errors }}
                                            {{ form.coordinates }}
                                            {{ form.coordinates.label_tag }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s4">
                                            {{ form.worktime.errors }}
                                            {{ form.worktime }}
                                            {{ form.worktime.label_tag }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s4">
                                            {{ form.address.errors }}
                                            {{ form.address }}
                                            {{ form.address.label_tag }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s12">
                                            <tags-component></tags-component>
                                            {{ form.tags.errors }}
                                            <div class="__tags-field __hidden">
                                                {{ form.tags }}
                                                {{ form.tags.label_tag }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-field col s12">
                                            {{ form.description.errors }}
                                            {{ form.description }}
                                            {{ form.description.label_tag }}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--div class="col s12">
                                    <h4 class="__margin-left_s">Места где расположено заведение</h4>
                                    {{ location_formset.management_form }}
                                    {% for location_form in location_formset %}
                                        {{ location_form.id }}
                                        <div class="__location-field">
                                            <div class="input-group">
                                                <div class="input-field col s4">
                                                    <div class="__margin-top_xl __padding-top_xs">
                                                        {{ location_form.address.errors }}
                                                        {{ location_form.address }}
                                                        {{ location_form.address.label_tag }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-group __worktime">
                                                <div class="input-field col s3">
                                                    {{ location_form.worktime.errors }}
                                                    {{ location_form.worktime }}
                                                    {{ location_form.worktime.label_tag }}
                                                </div>
                                            </div>
                                            <div id="map-coordinates" class="input-group">
                                                <div class="input-field col s3">
                                                    <div class="__margin-top_xl __padding-top_xs">
                                                        {{ location_form.maps.errors }}
                                                        {{ location_form.maps }}
                                                        {{ location_form.maps.label_tag }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="__remove-field">
                                                {{ location_form.DELETE }}
                                                {{ location_form.DELETE.label_tag }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div-->
                                <div class="col s12 __margin-top_xxl">
                                    <div class="input-group">
                                        <div class="file-field input-field col s4 offset-s2">
                                            {{ form.image.errors }}
                                            <div class="btn">
                                                <span>{{ form.image.label }}</span>
                                                {{ form.image }}
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group __visibility_hidden">
                                        <div class="file-field input-field col s4">
                                            {{ form.icon.errors }}
                                            <div class="btn">
                                                <span>{{ form.icon.label }}</span>
                                                {{ form.icon }}
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="file-path validate" type="text">
                                            </div>
                                            <p class="__image-help">Не более 1 мегабайта</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <a class="left amber darken-3 __margin-left_m  btn-hovered waves-effect waves-light btn-large" href="{% url 'place:index' %}">
                            Отмена
                            <i class="material-icons right dp48">clear</i>
                        </a>
                    </div>
                    <div class="col s6">
                        <div class="__padding-right_l">
                            <button type="submit" class="right waves-effect waves-light btn-large __margin-left_l">
                                Добавить
                                <i class="material-icons dp48 right">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="overlay " v-bind:class="{ __hidden : !showModal }">
</div>
<div class="modal-win" v-bind:class="{ __hidden : !showModal }">
    <div class="__modal-close" v-on:click="showModal = !showModal">
        <i class="material-icons dp48">clear</i>
    </div>
    <map-component v-on:set-coordinates="setCoordinates" :show-map="showMap" ></map-component>
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/initAdmin.entry.js"></script>
{% endblock js %}


{% block title %}
<title>Создание места</title>
{% endblock title %}


{% block description %}
<meta name="description" content="Создание места">
{% endblock description %}
