{% extends "base.html" %}

{% block content %}

<div id="inner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="head_block __margin-top_xxl">
                    <img class="responsive-img " src="{{ place.image.url }}">
                </div>
                <div class="article">
                    <h1>{{ place.title }}</h1>
                    <p><span>Адрес и время работы:</span><br>
                        {% for location in place.location_set.all %}
                            <strong>{{ location.address }}</strong>
                            <strong>{{ location.worktime }}</strong>
                        {% endfor %}                
                    </p>
                    {% comment "Social links dictiobary" %}
                        <p><span>Cайт:</span><strong>https://vk.com/lesbar</strong></p>
                    {% endcomment %}
                    <p class="">
                        <span>Представитель:</span>
                        <strong id="getter-name">{{ place.owner.username }}</strong>
                    </p>
                    {% if place.tags.exists %}
                        <p class="__margin-bottom_xs __margin-top_xs">
                            <span>Теги: </span>
                            {% for tag in place.tags.all %}
                                <a href='#'>#{{ tag.name }}</a>
                            {% endfor %}
                        </p>
                    {% endif %}
                    <article>{{ place.description }}</article>
                    <div class="__margin-top_xl">
                        <a class="left waves-effect waves-light btn-large " onclick="Materialize.toast('Если Вы действительно являетесь владелецем этого места,<br> зарегистрируйтесь как Представитель и напишите админу,<br> либо напишите нам на почту  ', 10000);">
                            &nbsp;&nbsp;Я хозяин этого места!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <rate-component is-login="{{user.is_authenticated|yesno:'true,false'}}" unique="{{ place.id }}"  type="place"></rate-component>
        <comment-component is-login="{{user.is_authenticated|yesno:'true,false'}}"  unique="{{ place.id }}"  type="place"></comment-component>
    </div>
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/inner.entry.js"></script>
{% endblock js %}

{% block title %}
<title>NightAgenda | Meсто {{ place.title }} </title>
{% endblock title %}

{% block description %}
<meta name="description" content="{{ place.title }} - {{ place.description }}">
{% endblock description %}
