{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3 class="center __margin-top_xxl __margin-bottom_xxl __padding-bottom_s  __uppercase">Музыкальные коллективы</h3>
        <div class="col s12">
            <div class="row">
                {% for band in bands %}
                    {% include "band/band_card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>  
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/common.entry.js"></script>
{% endblock js %}

{% block title %}
<title>NightAgenda - страница музыкальных коллективов</title>
{% endblock title %}

{% block description %}
<meta name="description" content="NightAgenda | Коллективы музыкантов в Санкт-Петербурге">
{% endblock description %}