{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h3 class="left __margin-top_xxl __margin-bottom_xxl __padding-bottom_s  __uppercase">Музыкальные коллективы</h3>
        <div class="col s12">
            <div class="row">
                {% for band in bands %}
                    {% include "band/band_card.html" %}
                {% endfor %}
            </div>
        </div>
        <div class="col s12">
            <div class="row">
            {% if is_paginated %}
                <div class="pagination center">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a class="btn" href="?page={{ page_obj.previous_page_number }}">
                                <i class="material-icons dp48 left">arrow_back</i>
                                назад
                            </a>
                        {% endif %}
                        <span class="__margin-left_l __margin-right_l page-current">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a class="btn" href="?page={{ page_obj.next_page_number }}">
                                вперед
                                <i class="material-icons dp48 right">arrow_forward</i>
                            </a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% if prefered %}
    <div class="row">
        <h3 class="left __margin-top_xl __margin-bottom_l __uppercase">Рекомендуемые вам</h3>
        <div class="col s12">
            <div class="row">
                {% for place in prefered %}
                    {% include "band/band_card.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}  
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/common.entry.js"></script>
{% endblock js %}

{% block title %}
<title>NightAgenda - страница музыкальных коллективов</title>
{% endblock title %}

{% block description %}
<meta name="description" content="NightAgenda | Коллективы музыкантов в Санкт-Петербурге">
{% endblock description %}