{% extends "base.html" %}

{% block content %}

<div id="inner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="head_block __margin-top_xxl">
                    <img class="responsive-img" src="{{ event.image.url }}">
                </div>
                <div class="article">
                    <h1 class="__margin-top_xl __margin-bottom_xl">Событие</h1>
                    <span id="hidden-id" class="__hidden">2</span>
                    <p>
                        <span>Организатор: </span>
                        <strong id="getter-name">{{ event.owner.username }}</strong>
                    </p>
                    <p>
                        <span>Место: </span><br>
                        {% for location in event.locations.all %}
                            <a href="{% url 'place:view' location.place.slug %}">
                                <strong>{{ location.address }}</strong><br>
                            </a>
                        {% endfor %}
                    </p>
                    <p>
                        <span>Цена: </span>
                        <strong>{{ event.price }} р.</strong>
                    </p>
                    <p>
                        <span>Дата: </span>
                        <strong>{{ event.date|date:'H:i d.m.Y'}}</strong>
                    </p>
                    <p>
                        <span>Тэги:&nbsp;&nbsp;</span>
                        <strong>#hfp&nbsp;</strong>
                        <strong>#dfdgfd&nbsp;</strong>
                        <strong>#ghfghf&nbsp;</strong>
                    </p>
                    <p>
                        <span>Коллективы: &nbsp;</span><br>
                        {% for band in event.bands.all %}
                            <a href="{% url 'band:view' band.slug %}">{{ band.name }}</a><br>
                        {% endfor %}
                        {% for musician in event.musicians.all %}
                            <a href="#{{ musician.username }}">{{ musician.username }}</a><br>
                        {% endfor %}
                    </p>
                    <article class="__margin-top_xl">
                        <p>{{ event.description }}</p>
                    </article>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
            <rate-component is-login="true" type="event"></rate-component>
            <hr>
            <comment-component is-login="true" type="event"></comment-component>
        {% else %}
            <rate-component is-login="false" type="event"></rate-component>
            <hr>
            <comment-component is-login="false" type="event"></comment-component>
        {% endif %}
    </div>
</div>
{% endblock content %}


{% block js %}

<script src="/static/dist/inner.entry.js"></script>

{% endblock js %}
