{% extends "base.html" %}

{% block content %}

<div id="events_page" class="container">
    <h4 class="center __margin-top_xxl">Добавить событие</h4>
    <form method="post" action="" enctype="multipart/form-data" class="row" >
        {% csrf_token %}
        <div class="col s12">
            <div class="card lime lighten-5 __margin-top_xl __margin-bottom_xl ">
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="card-content black-text">
                                <div class="input-group">
                                    <div class="input-field col s7">
                                        {{ form.title.errors }}
                                        {{ form.title }}
                                        {{ form.title.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="file-field input-field col s5">
                                        {{ form.image.errors }}
                                        <div class="btn">
                                            <span>{{ form.image.label }}</span>
                                            {{ form.image }}
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-daterange">
                                    <div class="input-field col s6">
                                        {{ form.date.errors }}
                                        {{ form.date }}
                                        {{ form.date.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s6">
                                        {{ form.price.errors }}
                                        {{ form.price }}
                                        {{ form.price.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s12">
                                        {{ form.description.errors }}
                                        {{ form.description }}
                                        {{ form.description.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s4">
                                        {{ form.locations.errors }}
                                        {{ form.locations }}
                                        {{ form.locations.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s4">
                                        {{ form.bands.errors }}
                                        {{ form.bands }}
                                        {{ form.bands.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s4">
                                        {{ form.bands.errors }}
                                        {{ form.musicians }}
                                        {{ form.musicians.label_tag }}
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-field col s12">
                                        Место для вписывания тегов
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <a class="left amber darken-3 __margin-left_m  btn-hovered waves-effect waves-light btn-large" href="{% url 'blog:index' %}">
                                    Отмена
                                    <i class="material-icons right dp48">clear</i>
                                </a>
                            </div>
                            <div class="col s6">
                                <div class="__padding-right_l">
                                    <input type="submit" class="right waves-effect waves-light btn-large __margin-left_l" value="Добавить">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
