{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="__logo-animate">
                <div class="__logo-animate_img __padding-top_xl">
                    <img class="responsive-img" src="{% static 'images/logo_animate.png' %}">
                </div>
                <div class="__logo-animate_waves">
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __first"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __second"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __third"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __fourth"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __fifth"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __sixth"></div>
                    </div>
                    <div class="__wave_item">
                        <div class="__wave_circle_top"></div>
                        <div class="__wave_circle_bottom __seventh"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m8 l8">
            <h1 class="center __margin-top_xxl __margin-bottom_xxl ">Наши контакты</h1>
            <article>
                <p>Если у вас возникли какие-либо вопросы или вы желаете помочь проекту, то вот наши контакты:</p>
                <p>Наша почта: <a href="mailto:nightagenda@gmail.com">nightagenda@gmail.com</a></p>
                <p>Также вы можете написать вк</p>
            </article>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}

<script src="/static/dist/common.entry.js"></script>

{% endblock js %}