{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="__margin-top_xxl __headname __margin-bottom_xxl">Правила площадки</h1>
            <p class="__psize"><b>1.</b> Никакого обсуждения политики.</p>
            <p class="__psize"><b>2.</b> Никакого обсуждения наркотических веществ в явном или неявном виде.</p>
            <p class="__psize"><b>3.</b> Нет оскорблениям друг друга и переходам на личности. Допускается только легкий троллинг.</p>
            <p class="__psize"><b>4.</b> Нет флуду и спаму.</p>
            <p class="__psize"><b>5.</b> При создании записей, описании событий, мест, коллективов должны быть соблюдены правила русского языка.</p>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/common.entry.js"></script>
{% endblock js %}


{% block title %}
<title>Правила площадки NightAgenda</title>
{% endblock title %}


{% block description %}
<meta name="description" content="Правила NightAgenda, необходимые при написании постов, добавелнии событий, места, коллективов, комментированиии и общении">
{% endblock description %}