{% extends "base.html" %}

{% block content %}

<div id="inner">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="head_block __margin-top_xl">
                    <img class="responsive-img" src="{{ blog.image.url }}">
                </div>
                <div class="article">
                    <h1>{{ blog.title }}</h1>

                    <article class="__margin-bottom_xl __margin-top_xl">
                        <p>{{ blog.annotation }}</p>
                        <p>{{ blog.content|safe }}</p>
                    </article>
                    
                    {% if blog.event is not null %}
                    <p class="__margin-bottom_xs __margin-top_xs">
                        Так или иначе посвящен событию 
                        <a href="/events/{{blog.event.slug}}">{{ blog.event.title }} - {{ blog.event.date|date:'d.m.Y'  }}</a>
                    </p>
                    {% endif %}

                    {% if blog.tags.exists %}
                    <p class="__margin-bottom_xs __margin-top_xs">
                        <span>Теги: </span>
                        {% for tag in blog.tags.all %}
                            <a href='#'>#{{ tag.name }} </a>
                        {% endfor %}
                    </p>
                    {% endif %}
                    <p class="__margin-bottom_xs __margin-top_xs">
                        <span>Опубликован: </span>
                        <strong>{{ blog.created_at|date }}</strong>
                    </p>
                    <p class="__margin-bottom_xs __margin-top_xs">
                        <span>Автор: </span>
                        <a href="/member/{{ blog.author.username }}">
                            <strong id="getter-name">{{ blog.author.username }}</strong>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <rate-component is-login="{{user.is_authenticated|yesno:'true,false'}}" unique="{{ blog.id }}" type="blog"></rate-component>
    </div>
    <hr class="__margin-top_xxl __margin-bottom_xxl">
    <div class="container">
        <comment-component is-login="{{user.is_authenticated|yesno:'true,false'}}" unique="{{ blog.id }}" type="blog"></comment-component>
    </div>
</div>

{% endblock content %}


{% block js %}
<script src="/static/dist/inner.entry.js"></script>
{% endblock js %}


{% block title %}
<title>{{ blog.title }}</title>
{% endblock title %}


{% block description %}
<meta name="description" content="{{ blog.annotation }}">
{% endblock description %}