{% extends "base.html" %}

{% block content %}

<div class="row __padding-top_xxl __padding-bottom_xxl">
    <div class="col s8 offset-s2">
        <div class="panel panel-default">
            <div class="panel-heading __margin-bottom_xl ">
                <h3>Форма входа</h3>
            </div>
            {% if user.is_authenticated %}
                <p class="errornote">
                    Вы уже авторизованы как {{ request.user.username }}.
                </p>
            {% endif %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}

            <div class="panel-body  __padding-bottom_m">
                <form id="login-form" action="" method="POST" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        <div class="col-md-6">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.password.errors }}
                        {{ form.password.label_tag }}
                        <div class="col-md-6">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <input name="next" value="/" type="hidden">
                            <input type="submit" class="btn btn-primary" value="Войти">
                            <a class="btn btn-link" href="#">
                                Забыли пароль?
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
