<div class="col l2 m2 s6 hide-on-small-only">
    <div class="__footer_block __padding-top_xl">
        <a title="Поиск" class="__search_btn" href="#">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Рубрики</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#">Личное мнение</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Фестивали</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Музыка</a></li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Основное</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#">Карта мест</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Правила</a></li>
            <li>&nbsp;</li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Соцсети</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="">Telegram Main</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#">Telegram Events</a></li>
            <li><a class="grey-text text-lighten-3" href="">Вконтакте</a></li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">О проекте</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="#">Контакты</a></li>
            <li><a class="grey-text text-lighten-3" href="#">Благодарности</a></li>
        </ul>
    </div>
</div>
