{% load staticfiles %}

<header>
    <nav id="nav-menu" class="grey darken-4">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo ">
                <img src="{% static 'images/logo_white.jpg' %}" class="responsive-img">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% include "menu/base.html" %}

                {% if request.user.is_authenticated %}
                    <session class="hide">{{ request.session.session_key }}</session>
                {% else %}
                    {% include "menu/auth.html" %}
                {%endif %}
            </ul>
        </div>
    </nav>
</header>
