<li>
    <a class="__uppercase" href="{% url 'event:index' %}">
        <i class="fa fa-calendar fa-lg left" aria-hidden="true"></i>
        События
    </a>
</li>
<li>
    <a class="__uppercase" href="{% url 'place:index' %}">
        <i class="fa fa-map-marker fa-lg left" aria-hidden="true"></i>
        Места
    </a>
</li>
<li>
    <a class="__uppercase" href="{% url 'blog:index' %}">
        <i class="fa fa-file-text fa-lg left" aria-hidden="true"></i>
        Посты
    </a>
</li>
<li>
    <a class="__uppercase" href="#">
        <i class="fa fa-users fa-lg left" aria-hidden="true"></i>
        Коллективы
    </a>
</li>
<li class="__margin-right_xxl">
    <a class="__uppercase" href="#">
        <i class="fa fa-music fa-lg left" aria-hidden="true"></i>
        Музыка
    </a>
</li>
