<div id="dialog_window" class="modal __modal __advanced">
    <div class="modal-content">
        <h4 class="black-text">Диалоговое окно</h4>
        <h4 class="black-text">Диалог c </h4>
        <div class="dialog-field">
            <div class="row">
                <div class="col s4 __border_right">
                    <div class="senders">
                        <div class="collection">
                            <a v-on:click="openMessages(author.name)" href="#!" class="collection-item" v-for="sender in senders">
                                {{ sender.name }}
                                <span class="badge right new ">{{ sender.messages.length }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a v-on:click="closeModal" class="modal-action black-text __close-btn"><i class="material-icons right dp48">clear</i></a>
    </div>
</div>
