{% loadstaticfiles %}
<!--left menu-->
<div id="left-menu">
    <ul id="slide-out" class="side-nav">
        <li><div class="userView">
            <div class="background">
                <img class="responsive-img" src="/static/images/logo_inner.jpg">
            </div>
            <a href="#!user">

                <img v-if="avatar === ''" class="circle" src="/static/images/fresh_no_avatar.png">

                <img v-if="avatar !== ''" class="circle" :src="avatar">

            </a>
            <a href="#!name"><span class="white-text name">{{ name }}</span></a>
            <a href="#!email"><span class="white-text email">{{ email }}</span></a>
        </div>
        </li>
        <li v-on:click="openField" ><a class="waves-effect" href="#!"><i class="material-icons">chat</i>Cообщение</a></li>
        <li v-if="showUsersField" class="__padding-left_xl __padding-right_xl">
            <div class="input-group">
                <div class="input-field user-search">
                    <input type="text" v-on:click="getUsers" v-on:keyup="search($event)" v-model="getter.name">
                    <label>кому</label>
                </div>
            </div>
            <ul class="__select_users" :class="{ __overflow_y: showScroll }">
                <li v-for="user in users"><a :id="user.id" href="#!" v-on:click="selectGetter($event)">@{{ user.name }}</a></li>
            </ul>
        </li>
        <li v-if="showUsersField"><div class="divider"></div></li>

        <template v-if="role == 5">
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="posts">
                    <i class="material-icons">description</i>
                    Записи
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="events">
                    <i class="material-icons">event</i>
                    События
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="places">
                    <i class="material-icons">store_mall_directory</i>
                    Места
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="collectives">
                    <i class="material-icons">people</i>
                    Коллективы
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="albums">
                    <i class="material-icons">library_music</i>
                    Плейлисты
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a href="/admin/rubric/index">
                    <i class="material-icons">format_list_numbered</i>
                    Рубрики
                </a>
            </li>
            <li>
                <a href="/admin/comment/list">
                    <i class="material-icons">question_answer</i>
                    Комментарии
                </a>
            </li>
        </template>
        <template v-if="role == 4">
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="posts">
                    <i class="material-icons">description</i>
                    Записи
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="events">
                    <i class="material-icons">event</i>
                    События
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="places">
                    <i class="material-icons">store_mall_directory</i>
                    Места
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="collectives">
                    <i class="material-icons">people</i>
                    Коллективы
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </template>
        <template v-if="role == 3">
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="posts">
                    <i class="material-icons">description</i>
                    Записи
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="places">
                    <i class="material-icons">store_mall_directory</i>
                    Места
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="collectives">
                    <i class="material-icons">people</i>
                    Коллективы
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </template>
        <template v-if="role == 2">
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="posts">
                    <i class="material-icons">description</i>
                    Записи
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="albums">
                    <i class="material-icons">library_music</i>
                    Плейлисты
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="collectives">
                    <i class="material-icons">people</i>
                    Коллективы
                    <i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </template>
        <template v-if="role == 1">
            <li>
                <a class="dropdown-button waves-effect" href="#!" data-activates="posts">
                    <i class="material-icons">description</i>
                    Записи
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </template>

        <li><div class="divider"></div></li>
        <li><a href="/settings" title="Мои настройки"> <i class="material-icons">perm_data_setting</i> Настройки</a></li>
        <li>
            <a title="Выход" href="/logout/">
                <i class="material-icons">exit_to_app</i>Выход
            </a>
        </li>
    </ul>
    <!--left menu-->

    <div id="left_message_window" class="modal">
        <div class="modal-content">
            <h4>Диалог с <span class="purple-text text-darken-4">{{getter.name}}</span></h4>
            <div class="dialog-field">
                <div class="row">
                    <div class="col s12">

                    </div>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea class="materialize-textarea" v-model="message"></textarea>
                            <label>Ваше сообщение</label>
                        </div>
                    </div>
                </form>
            </div>

            <a class="right waves-effect waves-light btn-large  __margin-left_l" v-on:click="sendMessage">
                &nbsp;&nbsp;Отправить
                <i class="material-icons right dp48">send</i>
            </a>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close __close-btn black-text"><i class="material-icons right dp48">clear</i></a>
        </div>
    </div>
</div>
