<section id="search-block">
    <div id="search" v-bind:class="{ __open: showField }" class="grey darken-4">
        <a v-on:click="showField = !showField; getTags();"><i class="material-icons">search</i></a>
    </div>
    <div class="searchfield" v-bind:class="{ __open: showField }">
        <div v-on:click="showField = !showField" class="__close_circle">
            <i class="material-icons">close</i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div class="row __padding-top_xxl __margin-top_xl">
                        <div class="input-field col s11">
                            <input id="search-tag" type="text" v-model="keyword" v-on:keyup.enter="search(keyword)">
                            <label v-bind:class="{ active: isFilled }" class="white-text">Введите ключевое слово или выберите тэг </label>
                        </div>
                        <div class="input-field col s1">
                            <i class="material-icons prefix white-text __input_search_icon" v-on:click="search(keyword)">search</i>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <h4 class="center white-text">Облако тэгов</h4>
                    <div class="center">
                        <span v-bind:style="{ fontSize: tagFont + tag.count + 'px'  }" v-on:click="setKeyword(tag.name)" v-for="(tag, key) in tags" class="white-text __search-tag">#{{ tag.name }}&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="showPosts||showEvents||showPlaces" class="container">
        <div class="row">
            <div v-if="showEvents" class="col s12">
                <h3 class="center __margin-top_xxl __margin-bottom_xxl __padding-bottom_s  __uppercase">происходящее</h3>
                <div class="row">

                    <div v-for="event in events" class="col s12 m4 l3">
                        <div class="__event_block">
                            <div class="card __border_subgray">
                                <div class="card-image __preview_img">
                                    <div class="__img_inner">
                                        <img :src="event.image">
                                    </div>
                                </div>
                                <div v-bind:class="{activator: event.content != undefined}" class="card-content __title_block __relative ">
                                         <span class="card-title __font_exo">
                                             @{{event.title}}
                                             <i v-if="event.content != undefined" class="material-icons right __open_more_icon">gamepad</i>
                                        </span>
                                </div>
                                <div class="card-reveal  __relative">
                                        <span class="card-title __font_exo">
                                            @{{ event.title }}
                                            <i class="material-icons right __close_more_icon">close</i>
                                        </span>
                                    <div v-html="event.content">
                                    </div>
                                </div>
                                <div class="__block_more_info">
                                    <div class="__font_exo __semi_bold">
                                        <div v-if="event.place != undefined" class=" __margin-bottom_xs __margin-top_xs __padding-left_s __padding-right_s">
                                            <span class="red-text text-darken-4"><i class="material-icons">location_on</i></span>
                                            <span class=" grey-text text-darken-3 right">@{{ event.place  }}</span>

                                        </div>
                                        <div class="__margin-bottom_xs __margin-top_xs __padding-left_s __padding-right_s">
                                            <span class="red-text text-darken-4"><i class="material-icons">alarm</i></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="  grey-text text-darken-3 right">@{{ event.date_formatted    }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="event.link != undefined" class="card-action" v-on:click="link(event.link)">
                                    <a title="Узнать больше о событии" class="__more_link __font_exo red-text text-accent-4" :href="event.link">
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_four material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_five material-icons __icon-margin_xs left">play_arrow</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div v-if="showPosts" class="col s12">
                <h3 class="center __margin-top_xxl __margin-bottom_xxl __padding-bottom_s  __uppercase">посты</h3>
                <div class="row">
                    <div v-for="post in posts" class="col s12 m4 l3">
                        <div class="__post_block">
                            <div class="card __border_subgray">
                                <div class="card-image __preview_img">
                                    <div class="__img_inner">
                                        <img :src="post.image">
                                    </div>
                                </div>
                                <div v-bind:class="{activator: post.introtext != undefined}" class="card-content __title_block __relative ">
                                         <span class="card-title __font_exo">
                                             @{{post.title}}
                                             <i v-if="post.introtext != undefined" class="material-icons right __open_more_icon">gamepad</i>
                                        </span>
                                </div>
                                <div v-if="post.introtext != undefined" class="card-reveal  __relative">
                                        <span class="card-title __font_exo">
                                            @{{ post.title }}
                                            <i class="material-icons right __close_more_icon">close</i>
                                        </span>
                                    <div v-html="post.introtext">
                                    </div>
                                </div>
                                <div class=" __padding-top_xs __rubric_preview_block __padding-left_s __padding-right_s ">
                                    <span title="Рубрика" class=" teal-text text-darken-4"><i class="material-icons __rubric_icon_size">format_list_bulleted</i></span>
                                    <span class="__rubric_size right __semi_bold __font_exo grey-text text-darken-3">@{{ post.rubric_name }}</span>
                                </div>
                                <div class="__block_more_info">
                                    <div class="__font_exo __semi_bold">
                                        <div class="  __margin-top_xs __padding-left_8 __padding-right_s">
                                            <span title="Автор" class=" teal-text text-darken-4"><i class="material-icons __author_icon_size">account_circle</i></span>
                                            <span class=" grey-text text-darken-3 right"> @{{ post.author }}</span>
                                        </div>
                                        <div v-if="post.mark != 0" class="__margin-bottom_xs __padding-left_s __padding-right_s">
                                            <span class="yellow-text text-accent-2"><i class="material-icons __circle_border">star</i></span>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="grey-text text-darken-3 right">@{{ post.mark }}/10</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a title="Читать запись" class="__more_link __font_exo teal-text text-darken-4" :href="'/posts/' + post.pubric + '/' + post.id">
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_four material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_five material-icons __icon-margin_xs left">play_arrow</i>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div v-if="showPlaces" class="col s12">
                <h3 class="center __margin-top_xxl __margin-bottom_xxl __padding-bottom_s  __uppercase">места</h3>
                <div class="row">
                    <div v-for="place in places" class="col s12 m4 l3">
                        <div class="__post_block">
                            <div class="card __border_subgray">
                                <div v-if="place.image != undefined" class="card-image">
                                    <div class="card-image __preview_img">
                                        <div class="__img_inner_place">
                                            <img :src="place.image">
                                        </div>
                                    </div>
                                </div>

                                <div v-bind:class="{activator: place.description != undefined}"  class="card-content __title_block __relative">
                                         <span class="card-title __font_exo">
                                             @{{place.title}}
                                             <i v-if="place.description != undefined" class="material-icons right __open_more_icon">gamepad</i>
                                        </span>
                                </div>

                                <div v-if="place.description != undefined" class="card-reveal  __relative">
                                        <span class="card-title __font_exo">
                                            @{{place.title}}
                                            <i class="material-icons right __close_more_icon">close</i>
                                        </span>
                                    <p v-html="place.description"></p>
                                </div>
                                <div v-if="place.mark != 0" class="__margin-bottom_xs __padding-left_s __padding-right_s">
                                    <span class="yellow-text text-accent-2 "><i class="material-icons __circle_border_darkblue">star</i></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<span class=" blue-grey-text text-darken-4 right">@{{ place.mark }}/10</span>
                                </div>

                                <div class="card-action"  v-on:click="link('/places/' + place.id)">
                                    <a title="Читать о месте" class="__more_link __font_exo  blue-grey-text text-darken-4" :href="'/places/' + place.id">
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_four material-icons __icon-margin_xs left">play_arrow</i>
                                        <i class="__icon_five material-icons __icon-margin_xs left">play_arrow</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>