<li class="__enter_icons __login">
    <a href="{% url 'login' %}" title="Войти">
        <i class="fa fa-key fa-2x" aria-hidden="true"></i>
    </a>
</li>
{% comment %}
<li class="__enter_icons __login">
    <a title="Войти через vk" href="http://login/vk">
        <i class="fa fa-vk fa-2x" aria-hidden="true"></i>
    </a>
</li>
{% endcomment %}
<li class="__enter_icons __login">
    <a href="{% url 'signup' %}" title="Зарегистрироваться">
        <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
    </a>
</li>            
