<div class="col l2 m2 s6 hide-on-small-only">
    <div class="__footer_block __padding-top_xl">
        <a title="Поиск" class="__search_btn" href="#">
            <i class="material-icons">search</i>
        </a>
    </div>
</div>

<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Рубрики</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'blog:rubric' 'imho' %}">Личное мнение</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'blog:rubric' 'festivals' %}">Фестивали</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'blog:rubric' 'music' %}">Музыка</a></li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Основное</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'place:map' %}">Карта мест</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'flatten:rules' %}">Правила</a></li>
            <li>&nbsp;</li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">Соцсети</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="">Telegram Main</a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="#">Telegram Events</a></li>
            <li><a class="grey-text text-lighten-3" href="">Вконтакте</a></li>
        </ul>
    </div>
</div>
<div class="col l2 m2 s6">
    <div class="__footer_block">
        <h5 class="white-text">О проекте</h5>
        <ul>
            <li><a class="grey-text text-lighten-3" href="{% url 'flatten:contacts' %}">Контакты</a></li>
            <li><a class="grey-text text-lighten-3" href="{% url 'flatten:thanks' %}">Благодарности</a></li>
        </ul>
    </div>
</div>
