<ul id="events" class="dropdown-content">
    <li><a href="{% url 'event:create' %}">Создать</a></li>
    <li><a href="">Список</a></li>
</ul>
<ul id="places" class="dropdown-content">
    <li><a href="">Создать</a></li>
    <li><a href="">Список</a></li>
</ul>
<ul id="posts" class="dropdown-content">
    <li><a href="{% url 'blog:create' %}">Создать</a></li>
    <li><a href="">Список</a></li>
</ul>
<ul id="collectives" class="dropdown-content">
    <li><a href="{% url 'band:create' %}">Создать</a></li>
    <li><a href="">Список</a></li>
</ul>
